@charset "utf-8"; 
/* NHN Web Standardization Team (http://html.nhndesign.com/) JCM 080122 */ 
/* Type Selector */ 
html{position:relative} body {position:relative}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;color:#383838; font-size:12px; letter-spacing:-1;letter-spacing:-1px} 
table { border-collapse:collapse; border-spacing:0} 
caption { display:none; } 
fieldset,img { border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}   /* a-style */  
a {text-decoration:none;}  
a:hover, a:active { 	color:#ed174b; 	text-decoration:none;  }
 /* hidden */  
 .hidden { 	position:absolute; 	overflow:hidden; 	width:0; 	height:0; 	font-size:0; 	line-height:0; 	visibility:hidden; 	text-indent:-9999px }
 /* font-style */ 
/*  pre,code,kbd,samp,tt{ 	font-family:monospace;line-height:100%; } */
/*#footer{clear:both;margin:0 auto;width:100%} */
/* Class Selector */ 
.input_text{} .input_check{} .input_radio{} 
/* Navigation */ 
.snb .text a{float:left;display:block;width:95%;font-weight:bold;color:#666465;border-bottom:2px solid #d1d1d1;padding-left:5%} 
.snb .text a:hover{text-decoration:none;color:#fff;background-color:#f3218c;border-bottom:2px solid #C151b7} 
.snb .text{float:left;width:95%} 
.snb h1{} 
.snb img{display:block} 
.snb .category{float:left;line-height:29px} 
.snb .ad li{float:left;margin-bottom:7px} 
.account{} 
/* Content */ 
/* .path{width:796px} */ 
.path li{display:inline} 
.article{} /*.section{float:left;width:771px} */
/* Quick */
/* Zoom */ 
#zoom	 {padding:15px;float:left} 
#zoom img{display:block;float:left; } 
#zoom .image{float:left;width:83%} 
#zoom .thumb{float:left;width:17%;text-align:center} 
#zoom .imgChange{border:1px solid #e4e4e4;width:95px;height:95px;padding:3px;margin:0 0 10px 3px} 
#zoom .iconmargin{margin:8px 0 0 20px}

