/* 회원가입 */
.join_choice{position:relative;padding:60px 0 200px;}
.join_choice .btn_box{text-align:center;padding-top:60px;}
.join_choice .btn_box a{display:inline-block;text-align:center;font-size:14px;color:#3b3b3b;font-weight:400;border-radius:3px;margin-bottom:18px;margin:0 23px;}
.join_choice .btn_box img{margin:0 auto;margin-bottom:10px;}
.join_choice .mix_title{width:990px;margin:0 auto;}

.join_wrap .user_title{/* width:990px;margin:0 auto; */padding:45px 0 0;border-bottom:1px solid #f4f4f4;padding-bottom:10px;}
.join_wrap .user_title dt{float:left;font-size:12px;color:#b2b2b2;font-weight:500;line-height:15px;margin-top:12px;}
.join_wrap .user_title dt .title{font-size:22px;color:#3b3b3b;font-weight:500;letter-spacing:0;display:inline-block;margin-right:10px}
.join_wrap .user_title dd.user_step{float:right;}
.join_inner{width:880px;margin:0 auto;}
.join_inner .content{border:1px solid #f2f2f2; padding:20px; overflow-y:scroll; height:215px; line-height:18px; color:#717171;}
.join_inner .content table, .join_inner .content table *{border:none;padding:0;margin:0;text-align:left;}
.join_inner .agree{text-align:right;margin-top:15px; color:#5e5e5e; font-size:12px;}
.join_inner .agree * {vertical-align:middle;}
.join_inner .agree input{margin-right:5px}
.join_step1_title{margin-top:40px;margin-bottom:15px;font-size:16px;color:#3b3b3b;font-weight:500}

.join_btn {text-align:center;}
.join_btn a {display:inline-block; margin:0 5px;}
.join_btn input {margin:0 5px;}

/* 회원가입 > step2 */
.join table {border-collapse:collapse; width:100%; border-top:1px solid #f4f4f4; }
.join table th {padding-left:15px;height:50px;border-bottom:1px solid #f4f4f4; font-size:12px;color:#5e5e5e;font-weight:400}
.join table td {border-bottom:1px solid #f4f4f4; padding:10px 17px; color:#717171;vertical-align:middle}
.join table td span{font-size:12px;color:#b2b2b2;display:inline-block;vertical-align:middle;}
.join .join_input {border:1px solid #dedede; padding:0 10px; height:27px; line-height:20px; color:#717171; }
.join .join_select {border:1px solid #dedede;/*  padding:0 5px; */ height:27px; line-height:20px; color:#717171;vertical-align:middle;margin-right:5px;/* background:url(../images/join_select_arrow.jpg) 90% 50% no-repeat;-webkit-appearance: none; -webkit-border-radius:0;-moz-appearance:none;appearance:none; */}
.join .join_select + select{margin-left:4px}
.join .join_select.wdm200{min-width:200px; background-position:95% 50%;}
.join .join_textarea {border:1px solid #dedede; padding:10px; height:100px; line-height:20px; color:#717171; width:80%;resize:none;}
.join table img, .join table a, .join table input{display:inline-block;vertical-align:middle;margin-right:5px;}
.join table input + input, .join table .phone input{margin-left:5px;}

.join table input[type="radio"]{margin-right:3px;margin-top:-3px;}
.join .join_title{font-size:16px;color:#3b3b3b;font-weight:500;margin-bottom:14px;}

.join table th img{float:left;margin:0;margin-right:2px}

.join .wd60{width:62px;}
.join .wd65{width:65px;}
.join .wd140{width:142px;}
.join .wd180{width:182px;}
.join .wd200{width:200px;}
.join .wd550{width:552px;}
.join .mt8{margin-top:8px}
	
/* 회원가입 > step3 */
.join_end {padding:105px 0 100px;}
.join_end_box { margin:0 auto; text-align:center;}
.join_end_box img{margin:0 auto;}
.join_end_box dt {font-size:48px; line-height:52px; color:#212121; letter-spacing:-0.05em;}
.join_end_box dd {padding-top:35px; line-height:18px; letter-spacing:-0.07em; color:#717171; font-size:14px; margin-bottom:60px;}
.join_end_box a{display:inline-block;}

/* 마이페이지 mypage.html */
.my_contain{padding-top:36px;}
.my_left{float:left;width:180px;}
.my_right{float:right;width:870px;}
.my_right.wide{width:100%;}

.my_left_top{border:1px solid #efefef;padding:26px 0 25px;text-align:center;}
.my_left_top .img_wrap{position:relative;width:65px;height:65px;overflow:hidden;margin:0 auto;}
.my_left_top .img_wrap img{width:100%;}
.my_left_top .img_wrap .cover{position:absolute;left:0;top:0;width:100%;height:100%;background:url(../images/user_img_wrap.png) 0 0 no-repeat;}
.my_left_top .use_gree{font-size:14px;color:#5e5e5e;margin-top:15px;}
.my_left_top .use_gree span{font-weight:500;color:#383838;}
.my_left_top .btn_myinfo img{margin:10px auto 0;}

.my_left_user_box{margin-top:-1px;border:1px solid #efefef;}
.my_left_user_box ul{display:table;width:100%;}
.my_left_user_box li{display:table-cell;width:33.3%;text-align:center;border-left:1px solid #efefef;background-color:#f9f9f9;}
.my_left_user_box li:first-child{border-left:0;}
.my_left_user_box li a{display:block;font-family:'Arial';color:#fd7405;padding:19px 0 17px;font-size:17px;}
.my_left_user_box li img{display:inline-block;margin-right:6px;vertical-align:middle;margin-top:-7px}

.my_left_coupon{background-color:#f9f9f9;border:1px solid #efefef;border-top:0;text-align:center;}
.my_left_coupon a{display:block;padding:17px 0;font-size:14px;color:#383838;font-weight:500}
.my_left_coupon img{display:inline-block;vertical-align:middle;margin:-3px 3px 0 5px;}
.my_left_coupon .txt_o{font-family:'Arial';color:#fd7405;font-weight:normal;font-size:18px;display:inline-block;vertical-align:middle;margin-top:-2px;line-height:15px;}



.my_left_list{margin-top:29px;}
.my_left_list .title{font-size:18px;color:#383838;line-height:44px;font-weight:400;border-top:2px solid #fc7405;border-bottom:1px solid #efefef;padding-left:12px;letter-spacing:0;}
.my_left_list ul{padding:12px 0 11px;border-bottom:1px solid #efefef;}
.my_left_list li{padding:9px;}
.my_left_list li a{display:block;padding-left:3px;font-size:12px;color:#888;font-weight:500;line-height:12px;}
.my_left_list li a.on{color:#fc7405}
.user_box{background-color:#f9f9f9;border:1px solid #efefef;height:120px;}
.user_box ul{display:table;width:100%;height:100%;}
.user_box ul li{width:33.3%;height:100%;display:table-cell;text-align:center;vertical-align:middle;}
.user_box li .line{float:left;width:1px;display:inline-block;height:45px;background-color:#efefef;margin-top:10px;}
.user_box dt{font-size:14px;color:#383838;font-weight:500;margin-bottom:13px;}
.user_box dd a span{font-family:'Arial';font-size:28px;color:#fd7405;display:inline-block;line-heigh:22px;vertical-align:middle;}
.user_box a{display:block;width:80px;margin:0 auto;}
.user_box img{display:inline-block;vertical-align:middle;margin-top:-3px;margin-right:10px;}

.user_con_box{margin-top:-1px;border:1px solid #efefef}
.user_con_box ul{display:table;width:100%;}
.user_con_box li{display:table-cell;width:16.666%;border-left:1px solid #efefef}
.user_con_box li:first-child{border-left:0;}
.user_con_box li a{display:block;text-align:center;padding:28px 0;}
.user_con_box li a p{font-size:14px;color:#383838;font-weight:14px;margin-top:19px;}
.user_con_box li a img{margin:0 auto;}

.mypage_link{margin-top:43px;}
.mypage_link > div{width:420px;}
.mypage_link .rec_list li{width:205px;}
.mypage_link .rec_list li.list_none{width:100%;padding:100px 0;text-align:center;color:#888;margin:0}
.mypage_link .my_link_title{font-size:16px;color:#383838;font-weight:500;line-height:16px;margin-bottom:11px;}
.mypage_link .my_link_title a{font-size:12px;color:#888;margin-top:2px;}
.mypage_link .my_link_title a img{display:inline-block;margin-left:5px;}

/* 관심 레시피, tv */
.my_like_list{margin-top:12px;}
.my_like_list .rec_list li{width:210px;position:relative;}
.my_like_list .rec_list li .like_dell{position:absolute;bottom:12px;right:6px;}
.my_like_list .tv_list li{width:283px;margin-left:10px;position:relative;}
.my_like_list .tv_list li .img_wrap{height:153px;}
.my_like_list .tv_list li .like_dell{position:absolute;bottom:12px;right:6px;}

.my_like_list li.list_none{width:100%;padding:150px 0;text-align:center;color:#888}



/* 나의정보수정 */
.my_user_wrap .user_title{border-bottom:1px solid #f4f4f4;padding-bottom:10px;}
.my_user_wrap .user_title dt{float:left;font-size:12px;color:#b2b2b2;font-weight:500;line-height:15px;}
.my_user_wrap .user_title dt .title{font-size:22px;color:#3b3b3b;font-weight:500;letter-spacing:0;display:inline-block;margin-right:10px}




/* #my_content {width:780px; margin:0 auto;} */
/* .mypage_mainTable {margin:80px 0 30px;}
.mypage_mainTable table {border-collapse:collapse; width:100%; border-top:2px solid #525252;}
.mypage_mainTable table th {background:#f9f9f9; border-bottom:1px solid #e4e4e4; border-right:1px solid #e4e4e4; text-align:center; font-weight:bold; vertical-align:middle;}
.mypage_mainTable table th * {vertical-align:middle;}
.mypage_mainTable table th img {margin:-5px 25px 0 0;}
.mypage_mainTable table td {border-bottom:1px solid #e4e4e4; font-size:11px; line-height:16px; letter-spacing:-0.05em; color:#a9a9a9; padding:20px 0 17px 18px;}
.mypage_mainTable table td + td {text-align:center;}


.mypage_mainTable2 ul {*zoom:1;  border-top:2px solid #525252; margin-bottom:30px; border-bottom:1px solid #e4e4e4;}
.mypage_mainTable2 ul:after {content:""; display:block; clear:both;}
.mypage_mainTable2 ul li:first-child {border-left:0;}
.mypage_mainTable2 ul li {float:left; width:33.2%; border-left:1px solid #e4e4e4; height:197px;}
.mypage_mainTable2 ul li dt {padding:50px 0 0 127px; height:103px; border-bottom:1px solid #e4e4e4; position:relative; font-size:11px; line-height:20px; letter-spacing:-0.05em; color:#a9a9a9;}
.mypage_mainTable2 ul li dt p {position:absolute; top:55px; left:0; width:125px; text-align:center;}
.mypage_mainTable2 ul li dd {background:#f9f9f9; border:1px solid #fff; height:41px;}
.mypage_mainTable2 ul li dd a {display:block; font-weight:bold; color:#353535; letter-spacing:-0.05em; padding:14px 0 0 38px; height:26px; text-decoration:none; background:url("../images/mypage_arrow.png") 212px 17px no-repeat;}

.mypage_conBox {background:url("../images/my_bg.jpg") top left repeat-y;margin:40px auto 77px; position:relative;}
.mypage_conBox2 {background:url("../images/my_bg.jpg") top left repeat-y;margin:0 auto 140px; position:relative;} */



/* .mypage_title {padding:50px 0 0; font-size:12px; font-weight:bold; letter-spacing:-0.07em; color:#121212;  height:35px; position:relative;}
.mypage_title .mypage_more {position:absolute; top:55px; right:0;}
.mypage_title em {font-size:12px; color:#939393; display:inline-block; margin-left:10px; font-weight:normal;}

.mypage_title2 {padding:70px 0 15px; font-size:14px; font-weight:bold; letter-spacing:-0.07em; color:#121212;  line-height:20px; position:relative;}
.mypage_title2 .mypage_more {position:absolute; top:55px; right:0;}
.mypage_title2 span {font-size:12px; color:#939393; display:inline-block; margin-left:10px; font-weight:normal;}
.mypage_title2 .default_ship {position:absolute; top:70px; right:0;}
.mypage_title2 .default_ship * {vertical-align:middle;}
.mypage_title2 .default_ship label {margin:0 15px 0 5px; color:#717171; font-size:12px;}
.mypage_title2 .default_ship label + input + label {margin:0 0 0 5px;}
.mypage_title3 {padding:50px 0 0; font-size:12px; font-weight:bold; letter-spacing:-0.07em; color:#121212;  height:35px; position:relative;}
.mypage_title3 span {font-size:12px; color:#939393; display:inline-block; margin-left:10px; font-weight:normal;} */

/* .mypage {position:relative;} */
/* .mypage table {border-collapse:collapse; width:100%; border-top:2px solid #b6b6b6;}
.mypage table thead th {background:#f7f7f7; border-bottom:1px solid #ececec; border-left:1px solid #ececec;  padding:15px 0; font-size:12px; font-weight:bold; color:#212121;  text-align:center;}
.mypage table thead th:first-child {border-left:0;}
.mypage table tbody td {border-bottom:1px solid #ececec; border-left:1px solid #ececec;padding:17px 10px;  text-align:center; font-size:12px; color:#717171;}
.mypage table tbody td:first-child {border-left:0;}
.mypage table tbody td.date {text-align:center; font-family:'Verdana'; font-size:11px; line-height:15px; color:#717171;}
.mypage table tbody td .prod_order {*zoom:1;}
.mypage table tbody td .prod_order:after {content:""; display:block; clear:both;}
.mypage table tbody td .prod_order .prod_img {float:left;  border:1px solid #ececec; width:58px; height:58px;}
.mypage table tbody td .prod_order dl {float:left; padding:9px 0 0 10px; text-align:left; width:80%;}
.mypage table tbody td .prod_order dl dt {font-size:14px; font-weight:bold; color:#444;  margin-bottom:10px;}
.mypage table tbody td .prod_order dl dt a{color:#444;}
.mypage table tbody td .prod_order dl dd {font-size:12px; color:#939393; }

.mypage table tbody td .prod_order dl dd.option {border-top:1px solid #ececec; margin-top:11px; padding-top:11px; color:#525252;}
.mypage table tbody td .prod_order dl dd a {display:inline-block;}
.mypage table tbody td .prod_order dl dd * {vertical-align:middle;}
.mypage table tbody td .prod_order .prod_text {float:left; padding:22px 0 0 10px; display:inline-block;  color:#444}

.my_pcs_input {height:18px; border:1px solid #e5e5e5; padding:0 5px; text-align:right; width:40px;}

.mypage table tbody td .my_huwon {*zoom:1;}
.mypage table tbody td .my_huwon:after {content:""; display:block; clear:both;}
.mypage table tbody td .my_huwon .my_huwon_img {float:left; width:108px; height:60px;}
.mypage table tbody td .my_huwon dl {float:left; padding:10px 0 0 10px; text-align:left;}
.mypage table tbody td .my_huwon dl dt {font-size:14px; font-weight:bold; color:#444;  margin-bottom:10px;}
.mypage table tbody td .my_huwon dl dd {font-size:12px; color:#939393; }
.mypage table tbody td .my_huwon dl dd .hw_sns1 {color:#3d5a97;}
.mypage table tbody td .my_huwon dl dd .hw_sns2 {color:#879c52;}
.mypage table tbody td .my_huwon dl dd .hw_sns3 {color:#939393;}

.mypage table tbody td.my_hw_price strong {font-size:14px; font-weight:bold; color:#212121;}
.mypage table tbody td.point_type {text-align:left; font-weight:bold; color:#444;}
.mypage table tbody td.cou_num {text-align:center; font-family:'Verdana'; font-size:11px; line-height:15px; color:#717171;}
.mypage table tbody td a {text-decoration:none; display:block;}
.mypage table tbody td .cou_title {text-align:left;}
.mypage table tbody td .cou_title dt {font-size:14px; font-weight:bold; color:#444; margin-bottom:10px; }
.mypage table tbody td .cou_title dd {font-size:12px; color:#939393; }
.mypage table tbody td.ps_inqy_tt1 {text-align:left;}
.mypage table tbody td.ps_inqy_tt2 {text-align:left; padding-left:25px; background:url("../images/inqu_answer.jpg") 10px no-repeat;}
.mypage table tbody td.ps_inqy_tt1 a {color:#444;}
.mypage table tbody td.ps_inqy_tt2 a {color:#939393;}
.mypage table tbody td.qna_tt1 {text-align:left; padding-left:15px;}
.mypage table tbody td.qna_tt2 {text-align:left; padding-left:50px; background:url("../images/inqu_answer.jpg") 35px no-repeat;}
.mypage table tbody td.qna_tt1 a {color:#444;}
.mypage table tbody td.qna_tt2 a {color:#939393;}


.mypage table .no_rLine {border-left:0;}
.mypage table td.cart_point {text-align:center; }
.mypage table td.cart_point strong {font-weight:bold; color:#4d4d4d;}
.mypage table tbody td.my_huwon_total {text-align:center;  font-size:12px; color:#717171; }
.mypage table tbody td.my_huwon_total strong {font-size:14px; font-weight:bold; color:#ed174c;}
.mypage table tfoot th {background:#f9f9f9; border-bottom:1px solid #ececec; text-align:right; padding:17px;  color:#717171;}
.mypage table tfoot th strong {font-size:14px; font-weight:bold; color:#ed174c;}
.mypage table tfoot td {padding:17px 10px;  text-align:center; font-size:12px; color:#717171;}
.mypage table tfoot td.tl_left {text-align:left;}
.mypage table tfoot td.tl_left img {display:inline-block; margin-right:5px;}
.mypage table tfoot td.tl_right {text-align:right; padding:17px 0;}

.mypage table tbody td.dona_review {text-align:left; color:#121212;}
.mypage table tbody td.rv_star {  font-size:14px; font-weight:bold; color:#121212;}
.mypage table tbody td dl.rv_title dt { line-height:18px; font-size:12px; font-weight:bold; color:#444; text-align:left;}
.mypage table tbody td dl.rv_title dd { font-size:12px; line-height:18px; color:#939393; text-align:left;}


.mypage table tbody td.no_prod, .mypage2 table tbody td.no_prod, .mypage3 table tbody td.no_prod {padding:80px 0 80px;}

 */
/* .mypage2 table {border-collapse:collapse; width:100%; border-top:2px solid #b6b6b6;}
.mypage2 table th {background:#f7f7f7; border-bottom:1px solid #ececec; border-left:1px solid #ececec;padding:17px; font-size:12px; font-weight:bold; color:#212121;  text-align:left;}
.mypage2 table th:first-child {border-left:0;}
.mypage2 table td { border-bottom:1px solid #ececec; border-left:1px solid #ececec;padding:15px; font-size:12px; color:#717171;  text-align:left;}
.mypage2 table td * {vertical-align:middle;}
.mypage2 table td a {display:inline-block; margin:-2px 0 0 5px;}
.mypage2 table tbody tr.noLine th {border-bottom:0;}
.mypage2 table tbody tr.noLine td {border-bottom:0;}
.mypage2 table tbody tr.dark_line th {border-bottom:1px solid #b6b6b6;}
.mypage2 table tbody tr.dark_line td {border-bottom:1px solid #b6b6b6;}
.mypage2 table tfoot th {border-top:1px solid #b6b6b6; border-bottom:1px solid #b6b6b6;}
.mypage2 table tfoot td {background:#fff7f4;border-top:1px solid #b6b6b6; border-bottom:1px solid #b6b6b6;}
.mypage2 table tfoot td strong {font-size:14px; font-weight:bold; color:#ed174c;}

.mypage2 table tbody td .prod_order {*zoom:1;}
.mypage2 table tbody td .prod_order:after {content:""; display:block; clear:both;}
.mypage2 table tbody td .prod_order .prod_img {float:left;  border:1px solid #ececec; width:58px; height:58px;}
.mypage2 table tbody td .prod_order dl {float:left; padding:9px 0 0 10px; text-align:left; width:80%;}
.mypage2 table tbody td .prod_order dl dt { font-size:14px; font-weight:bold; color:#444; margin-bottom:10px;}
.mypage2 table tbody td .prod_order dl dd { font-size:12px; color:#8a8a8a;}
.mypage2 table tbody td .prod_order dl dd strong {color:#ed174c; font-size:14px; font-weight:bold;}

.mypage3 table {border-collapse:collapse; width:100%; border-top:2px solid #b6b6b6;}
.mypage3 table th {background:#f7f7f7; border-bottom:1px solid #ececec; border-left:1px solid #ececec;padding:10px 17px; font-size:12px; font-weight:bold; color:#212121;  text-align:left;}
.mypage3 table th:first-child {border-left:0;}
.mypage3 table td { border-bottom:1px solid #ececec; border-left:1px solid #ececec;padding:10px 15px; font-size:12px; color:#717171;  text-align:left;}
.mypage3 table td * {vertical-align:middle;}
.mypage3 table td a {display:inline-block; margin:-2px 0 0 10px;}
.mypage3 table tbody tr.noLine th {border-bottom:0;}
.mypage3 table tbody tr.noLine td {border-bottom:0;}
.mypage3 table tbody tr.dark_line th {border-bottom:1px solid #b6b6b6;}
.mypage3 table tbody tr.dark_line td {border-bottom:1px solid #b6b6b6;}

.mypage_btnArea {text-align:center; font-size:0; line-height:0; padding:60px 0; position:relative;}
.mypage_btnArea a {display:inline-block; margin:0 5px;}
.mypage_btnArea .btn_fr {position:absolute; top:80px; right:0;}

.user_box {position:relative;}
.user_box .user_tt { font-size:24px; letter-spacing:-0.07em; color:#7a7a7a; height:50px;}
.user_box .user_tt strong {font-size:30px; font-weight:bold; color:#121212;}
.user_box ul {*zoom:1; border-top:2px solid #525252; border-bottom:2px solid #525252; padding:14px 0;}
.user_box ul:after {content:""; display:block; clear:both;}
.user_box ul li {float:left; border-left:1px solid #e4e4e4; width:33.2%; text-align:center; padding:5px 0;}
.user_box ul li:first-child {border-left:0;}
.user_box ul li dt { font-size:13px; letter-spacing:-0.07em; color:#7b7b7b; margin-bottom:20px;}
.user_box ul li dt * {vertical-align:middle;}
.user_box ul li dt img {margin:-2px 3px 0 0;}
.user_box ul li dd { font-size:12px; font-weight:bold; color:#6a6a6a; }
.user_box ul li dd * {vertical-align:middle;}
.user_box ul li dd strong {font-size:30px; font-weight:bold; font-family:'Arial'; color:#ed174c; display:inline-block; margin-top:-10px;} */


/* 결제프로세스_주문서작성 */
.join_select2 { width:50px; height:20px; }
.order_select label { margin-right:20px; }
.bankname_st { min-width:210px;font-size:11px; margin-left:10px; }
.bank_user_st { line-height:32px; margin-top:12px; }
.bank_user_st .text_o{font-size:12px;color:#fd7405;}
.bank_user_st input { border:1px solid #CCC; width:210px;margin-left:10px; padding-left:10px; }

/* 탈퇴 */
.out_info p { color:#888; margin:10px 0;}
.out_info p img{display:inline-block;}
